        body {margin:10px;}
				html {color: #3B3B3B; font-size:8px; font-family:Calibri;}
				td1 {border:1px gray solid; padding:5px;}
			 .hhd1 {border:1px gray solid; padding:5px; background-color: #E7E7E7; font-weight: bold;}
			 .hdsf1 {color: #3366FF;	font-weight: bold;	font-size:17px;}
			 .bs-example{margin: 20px;}
